Importing results from results folder:

In [4]:
import pandas as pd
file_path = r"..\results\MLP_experiment_N100_2024-04-15_11-02-18\N100_results.csv"
df = pd.read_csv(file_path)
df

    70     1.0
0   69  1.0000
1   68  1.0000
2   67  1.0000
3   66  0.9375
4   65  1.0000
..  ..     ...
64   5  0.5625
65   4  0.4375
66   3  0.4375
67   2  0.6875
68   1  0.4375

[69 rows x 2 columns]